<div class="center">
  <div
    *ngIf="isLoading"
    class="spinner-border m-5"
    role="status"
    style="width: 6rem; height: 6rem"
  ></div>
</div>

<div *ngIf="!isLoading" class="row" style="margin-top: 20px">
  <div
    *ngFor="let prod of products | paginate : currentPage : pageSize"
    class="col-4"
    style="margin-top: 20px"
  >
    <app-product-card [product]="prod"></app-product-card>
  </div>
</div>

<nav *ngIf="!isLoading" style="margin-top: 25px">
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      *ngFor="let i of range(1, totalPages + 1)"
      [ngClass]="{ active: currentPage === i }"
    >
      <a
        class="page-link"
        style="background-color: black; color: white; cursor: pointer"
        (click)="currentPage = i"
        >{{ i }}</a
      >
    </li>
  </ul>
</nav>
